.nombre-servicios{
	font-family: 'open sans';
	font-size: 30px;
	color: #2DC5EE;
	line-height: 150%;
	margin-bottom: 0%;
}

.descripcion_breve-servicios{
	font-family: 'Lato';
	font-size: 18px;
	color: #212C8B;
	line-height: 150%;
	margin-top: 0%;
}

.descripcion-servicios{
	font-size: 17px;
	line-height: 150%;
	margin-top: 0%;
}